<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>   
</head>
<body>

    <form method="post" action="/admin/addemployee">
    <fieldset>
        
				<table>

					<tr>
						<td>UserName</td>
						<td><input type="text" name="username"></td>
                    </tr>
                    <tr>
						<td>Password</td>
						<td><input type="password" name="employeepassword"></td>
					</tr>
                    <tr>
						<td>Phone</td>
						<td><input type="text" name="employeephone"></td>
                    </tr>
                    <tr>
						<td>Gender</td>
						<td><input type="text" name="employeegender"></td>
                    </tr>
                    <tr>
						<td>Designation</td>
						<td><input type="text" name="employeedesignation"></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" name="submit" value="Submit"></td>
					</tr>
				</table>
    </fieldset>
</form>
</body>
</html>