<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>   
</head>
<body>
    <% if (employee) { 
        for(var i=0; i < employee.length; i++){ %>
    <form method="post">
    <fieldset>
        
				<table>

					<tr>
						<td>UserName</td>
						<td><%= employee[i].name %></td>
                    </tr>
                    
                    <tr>
						<td>Phone</td>
						<td><%= employee[i].phone %>"</td>
                    </tr>
                    <tr>
						<td>Gender</td>
						<td><%= employee[i].gender %>"</td>
                    </tr>
                    <tr>
						<td>Designation</td>
						<td><%= employee[i].designation %></td>
					</tr>
					
				</table>
    </fieldset>
</form>
<% }} %>
</body>
</html>